<% provide(:title, 'Offer a Workshop') %>
<h1>Workshop Builder</h1>
<br />
<h3>Rad! We’re excited you want to offer a Workshop!</h3>
<br />
<p>To complete your listing we’ll need the details about the workshop and some images to show off your work. We'll also ask for your permission to run a background check (as part of our efforts to foster a safe community). When you've submitted the form, we'll review and post your workshop.</p>
<p>For more about how this works, check out our <a href="http://www.girlsguild.com/faq.html#LeadingWorkshop">FAQ</a> or email us if you have other questions - <a href="mailto:hello@girlsguild.com?Subject=Hello again">hello@girlsguild.com</a>.</p>
<br />

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@workshop) do |f| %>
    <%= render 'fields', f: f %>
      <%= f.submit "Save for Later", :name => 'save_button', :class => "btn btn-large" %>
      <%= f.submit "Create Workshop", :name => 'create_button', :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>