<div class="center hero-unit">
  <h1>A community of makers</h1>

  <h2>Apprenticeships for girls, by girls.</h2>

  <%= link_to "Join for Free!", signup_path, class: "btn btn-large btn-primary" %>
</div>
