<p>
<%= link_to apprenticeship.title, apprenticeship_path(apprenticeship) %>
<% if apprenticeship.started? %>
 (<%= link_to "Resume", edit_apprenticeship_path(apprenticeship) if apprenticeship.user == current_user %>)
<% elsif apprenticeship.accepted? or current_user.admin? %>
 (<%= link_to "Edit", edit_apprenticeship_path(apprenticeship) if apprenticeship.user == current_user %>)
<% end %>
</p>
