<% provide(:title, 'New Apprenticeship') %>
<h1>Apprenticeship Builder</h1>
<br />
<h3>Bada-bing! We’re excited you want to offer an Apprenticeship!</h3>
<br />
<p>Your apprenticeship can be event-based, production-based, or ongoing.</p> 
<p>To complete your listing we’ll need the details about the apprenticeship and some images to show off your work. We'll ask for your permission to run a background check (as part of our efforts to foster a safe community), and for a $9 listing payment. When you've submitted the form and the payment, we'll review and post the apprenticeship.</p>
<p>For more about how this works, check out our <a href="http://www.girlsguild.com/faq.html#OfferApprent">FAQ</a> or email us if you have other questions - <a href="mailto:hello@girlsguild.com?Subject=Hello again">hello@girlsguild.com</a>.</p>
<br />

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@apprenticeship) do |f| %>
    <%= render 'fields', f: f %>
      <%= f.submit "Save for Later", :name => 'save_button', :class => "btn btn-large" %>
      <%= f.submit "Create Apprenticeship", :name => 'create_button', :class => "btn btn-large btn-primary", :id => "cc_process" %>
    <% end %>
  </div>
</div>